<!DOCTYPE html>
<html>
<head>
  <title>Daijyoubu</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<h3><a href = "/">メニューへ戻る</a></3>
</body>
</html>
